:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --Header_Color_Main: #58180d;
  --color: rgba(255, 255, 255, 0.87);
  --background-color: #242424;
  --background-image: url("./assets/parchmentBackground.jpg");
  --pf-action-free-image: url("/assets/PF_action_free.webp");
  --pf-action-2-image: url("/assets/PF_action_2.webp");
  --pf-action-3-image: url("/assets/PF_action_3.webp");
  --pf-action-image: url("/assets/PF_action_.webp");
  --pdf-action-reaction-image: url("/assets/PF_action_reaction.webp");
  --background-color: #ffffff;
  --color: #213547;
  --border-radius: 0.5rem;
  --cell-even-background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), var(--background-image);
  --hover-color: red;
  color: var(--color);
  background-color: var(--background-color);
  background-image: var(--background-image);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-size: 2vmin;
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
  font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}

#app {
  margin: 0;
  padding: 2rem;
  text-align: center;
}
div.header {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding-left: 0;
  margin-bottom: 0.1rem;
  & div {
    &.active {
      & button {
        background-image: linear-gradient(rgba(255, 255, 255, 0.1), transparent);
      }
    }
    & button {
      border: 1px solid black;
      display: block;
      padding: 0.1rem 0.5rem;
    }
  }
}
div.main {
  margin-bottom: 10px;
  padding: 1rem 1px 0;
  border-radius: 0.5rem;
  display: flex;
  flex-wrap: nowrap;
  max-height: 100%;
  gap: 1rem;
  justify-content: flex-end;
  & > .content {
    flex: 1 0 75%;
  }
  & .table {
    display: grid;
    width: 100%;
    border-left: 1px solid black;
  }
}
button {
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: unset;
  background-image: linear-gradient(rgba(100, 100, 100, 0.1), rgba(0, 0, 0, 0.1));
  &.collapsible_button {
    border-top: 1px solid black;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-image: inherit;
  }
  &:hover {
    border-color: black;
  }
}
input,
select {
  background-color: rgba(255, 255, 255, 0.5);
}
ul.simple {
  list-style-type: disc;
  margin-bottom: 0.3em;
}
ul.simple li {
  list-style-type: inherit;
  margin-left: 1em;
}
ul.simple li p {
  margin-bottom: 0;
  line-height: 1.25em;
  overflow-wrap: break-word;
}
.std-ref {
  background-color: rgba(130, 130, 130, 0.5);
  padding: 0 2px;
  border: 2px solid transparent;
  border-radius: var(--border-radius);
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
  vertical-align: middle;

  &:hover {
    background-color: rgba(130, 130, 255, 0.5);
  }
}
.versionadded,
.versionmodified,
.versionchanged {
  font-size: 0.9em;
  font-weight: bolder;
  line-height: 1.4em;
}
.line-block {
  padding-left: 0.4em;
  margin-left: 0;
  border-left: 0.25em solid #cfac74;
}
.item_content {
  & > p {
    margin: 0;
    line-height: 1.4em;
    overflow-wrap: break-word;
  }
  & > p:first-of-type {
    margin-top: 0.1em;
  }
  & > hr.docutils {
    display: block;
    visibility: inherit;
    width: 100%;
    border: 0px;
    border-bottom: 1px dotted black;
    margin: 3px 0px;
  }
}
.search {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
span[class^="c-"] {
  color: #483d8b;
  text-decoration: underline;
}

.item_name {
  &:not(:last-child) {
    color: var(--Header_Color_Main);
    font-weight: bold;
  }
}

div:has(> .trait) {
  text-align: left;
}
ul.traits {
  list-style: none;
}
.traits,
.trait {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  & p {
    margin: 0;
  }
}
.traits > li,
.trait_item {
  font-family: "Roboto Condensed", sans-serif;
  border-color: #dac68a;
  border: 1px solid #dac68a;
  border-left: 2px solid #dac68a;
  border-right: 2px solid #dac68a;
  border-radius: 2px;
  background-color: rgba(89, 24, 13, 0.95);
  color: white;
  text-align: center;
  margin-top: 2px;
  margin-right: 2px;
  min-width: 30px;
  float: left;
  padding-left: 3px;
  padding-right: 3px;
}
div.admonition.clarification {
  margin: 0;
  margin-top: 0.4em;
  padding-bottom: 0.3em;
  width: initial;
  padding-top: 0;
  & p {
    padding: 0.1em 12px;
    margin-bottom: 0.2em;
    line-height: 1.4em;
    &.admonition-title {
      margin-top: 0;
      margin-bottom: 0.4em;
      color: #fff;
      width: inherit;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.admonition {
  line-height: 24px;
  background: #e7f2fa;
}
.admonition-title {
  font-weight: bold;
  background: #6ab0de;
  padding: 6px 12px;
}

@media (max-aspect-ratio: 1.1/1) {
  :root {
    font-size: 2vmin;
    --hover-color: transparent;
  }
  #app {
    padding: 1rem;
    margin: 0;
  }
  button {
    &.filter {
      display: block;
    }
  }
  div.main {
    & > div.content {
      flex: 1;
    }
  }
}
@media (max-aspect-ratio: 2/3) {
  :root {
    font-size: 3vmin;
  }
}
