:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --Header_Color_Main: #58180d;
  --color: rgba(255, 255, 255, 0.87);
  --background-color: #242424;
  --background-image: url("./assets/parchmentBackground.jpg");
  /*временно*/
  --background-color: #ffffff;
  --color: #213547;
  /*color-scheme: light dark;*/
  color: var(--color);
  background-color: var(--background-color);
  background-image: var(--background-image);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
input,
select {
  background-color: rgba(255, 255, 255, 0.5);
}
ul.simple {
  list-style-type: disc;
  margin-bottom: 0.3em;
}
ul.simple li {
  list-style-type: inherit;
  margin-left: 1em;
}
ul.simple li p {
  margin-bottom: 0;
  line-height: 1.25em;
  overflow-wrap: break-word;
}
.versionadded,
.versionmodified,
.versionchanged {
  font-size: 0.9em;
  font-weight: bolder;
  line-height: 1.4em;
}
.line-block {
  padding-left: 0.4em;
  margin-left: 0;
  border-left: 0.25em solid #cfac74;
}
.item_content p {
  margin: 0;
  line-height: 1.4em;
  overflow-wrap: break-word;
}
.item_content > p:first-of-type {
  margin-top: 0.1em;
}
.item_content hr {
  display: block;
  visibility: visible;
  width: 100%;
  border: 0px;
  border-bottom: 1px solid black;
  margin: 3px 0px;
}

@media (prefers-color-scheme: light) {
  :root {
    --color: #213547;
    --background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
